*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    /* background-color: rgb(226, 148, 163); */
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4{
    /* font-size: 0.9vw; */
    font-size: 17px;
    font-weight: 600;
    /* letter-spacing: -1px; */
}

#nav img{
    /* height: 5vw;
    width: 17vw; */
    height: 100px;
    width: 300px;
}

#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button{
    /* font-size: 0.9vw; */
    font-size: 17px;
    font-weight: 600;
    padding: 0.7vw 1.3vw;
    border-radius: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    transition: all ease 0.2s;
}

#nav-part2 button:nth-child(1){
    background-color: transparent;
    margin-right: 5px;
    color: #0D0C22;
    cursor: pointer;
}

#nav-part2 button:nth-child(2):hover{
    background-color: #565564;
    cursor: pointer;
}

#content{
    height: calc(100% - 10vh);
    width: 100%;
    /* background-color: rgb(213, 169, 178); */
    padding-top: 9.7vh;
}

#content h3{
    width: fit-content;
    padding: 0.4vw 0.7vw;
    /* font-size: 0.9vw; */
    font-size: 17px;
    font-weight: 500;
    background-color: #DEB7F0;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Source Serif 4";
}

#content h1{
    /* font-size: 3.8vw; */
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    margin-top: 4vh;
    margin-bottom: 3vh;
    line-height: 8.5vh;
    font-family: "Source Serif 4";
}

#content h4{
    /* font-size: 1.2vw; */
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

#content button{
    /* font-size: 0.9vw; */
    font-size: 17px;
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.2s;
    border: none;
    /* padding: 0.8vw 1.2vw; */
    padding: 16px 23px;
    color: #fff;
    background-color: #0D0C22;
    border-radius: 50px;
    margin-top: 4vh;
    margin-bottom: 70px;
}

#content button:hover{
    background-color: #565564;
    cursor: pointer;
}

#bottom {
    height: 350px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    gap: 30px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bottom-content{
    display: inline-block;
    height: 100%;
    /* width: 180%; */
    width: 3230px;
    /* background-color: rgb(122, 122, 211); */
    animation-name: animation;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}

.elem{
    display: inline-block;
    height: 100%;
    width: 290px;
    /* background-color: royalblue; */
    border-radius: 40px;
    margin-right: 30px;
    overflow: hidden;

}

.elem img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.elem video{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#page2{
    height: fit-content;
    width: 100%;
    margin-top: 70px;
    padding: 70px;
    /* background-color: red; */
}

#page2 h1{
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box{
    display: inline-block;
    height: 350px;
    width: 404px;
    /* background-color: red; */
    transition: all ease 0.3s;
    margin: 17px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: none;
}

.box-bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.457));
    bottom: -40%;
    transition: all ease 0.3s;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;
}

.box:hover .box-bottom{
    bottom: 0;
}

.box:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.564);
}

.box-bottom h5{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.box-bottom i{
    background-color: #fff;
    font-size: 17px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#page2 button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #000;
    background-color: transparent;
    padding: 15px 23px;
    border-radius: 50px;
    margin-top: 50px;
    transition: all ease 0.2s;
}

#page2 button:hover{
    border-color: #565564;
    color: #565564;
}

#page3{
    height: 78%;
    width: 100%;
    background-color: #FFDA79;
    margin-top: 85px;
    padding: 120px 0;
}

#page3 h1{
    text-align: center;
    font-size: 62px;
    font-weight: 400;
    font-family: "Source Serif 4";
    line-height: 75px;
}

#page3 h4{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    /* font-family: "Source Serif 4"; */
    line-height: 37px;
}

#page3 h4 span{
    border-bottom: 2px solid #000;
}

#page3 button{
    position: relative;
    left: 41%;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 24px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
    margin: 40px 5px;
    border: none;
    transition: all ease 0.3s;
    cursor: pointer;
}

#page3 button:nth-last-child(2){
    background-color: white;
    color: #000;
}

#page3 button:hover:nth-last-child(2){
    color: #565564;
}

#page3 button:hover:nth-last-child(3){
    background-color: #565564;
}

#scroll{
    height: 240px;
    width: 100%;
    /* background-color: red; */
    margin-top: 75px;
    padding: 5px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll-box{
    flex-shrink: 0;
    height: 100%;
    width: 1897px;
    /* background-color: rgb(181, 207, 32); */
    padding: 23px;
    display: flex;
    gap: 43px;
    animation-name: scroll;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} 

.scroll-img{
    height: 90%;
    width: 240px;
    /* background-color: rgb(8, 0, 255); */
    border-radius: 7px;
    /* overflow: hidden; */
    position: relative;
    box-shadow: 
    4px -4px 0px 0px #eadff0,
    8px -8px 0px 0px #dbf3e4;
    transition: all ease 0.3s;
}

.scroll-img:hover{
    box-shadow: 
    5px -5px 0px 2px #eadff0,
    9px -9px 0px 4px #dbf3e4;
}

.scroll-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.scroll-img h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
    color: #565564;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#footer{
    height: 150px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#footer img{
    height: 100px;
    width: 350px;
}

#footer h5{
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
    color: #0D0C22;
}

#footer h5:nth-last-child(5){
    margin-right: 70px;
}

#footer i{
    font-size: 22px;
    margin: 6px;
}

#last-footer{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 192px; 
}

#last-footer h5{
    font-size: 18px;
    font-weight: 500;
    color: #7C7D87;
}

#part1{
    display: flex;
    gap: 20px;
}

#part2{
    display: flex;
    gap: 20px;
}