*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(242, 245, 247);
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
}

#left-top-left{
    /* background-color: crimson; */
    padding: 30px;
}

#square{
    height: 25px;
    width: 25px;
    background-color: black;
    rotate: 45deg;
}

#left-top-right{
    /* background-color: rgb(87, 14, 166); */
    text-align: right;
    padding: 40px;
}

#left-top-right h4{
    font-family: sans-serif;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

#left-top-right h6{
    display: none;
}

#left-center{
    /* background-color: rgb(40, 40, 226); */
    grid-row: 2;
    grid-column: 1/3;
    padding: 20px;
}

#left-center h1{
    line-height: 75px;
    font-size: 6vw;
    padding: 5px 15px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#left-center h1:nth-child(2n){
    /* background-color: red; */
    text-align: center;
}

#left-bottom{
    /* background-color: rgb(187, 219, 60); */
    grid-row: 3;
    grid-column: 1/3;
    padding: 30px;
}

#left-bottom p{
    font-family: sans-serif;
    width: 70%;
}

#right{
    /* background-color: rgb(142, 61, 196); */
    grid-row: 1/4;
    padding: 40px;
    padding-right: 100px;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    background-color: orangered;
    color: #e3e3e3;
    padding: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#arrow i{
    font-size: 40px;
    font-weight: 100;
}

@media (max-width:600px){
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 13% 30% 10%;
    }  

    #left-top-left{
        padding: 30px;
    }
    
    #square{
        height: 15px;
        width: 15px;
    }
    
    #left-top-right{
        padding: 20px;
    }
    
    #left-top-right h4{
        display: none;
    }
    
    #left-top-right h5{
        display: none;
    }

    #left-top-right h6{

        display: initial;
        font-size: 5vw;
    }
    
    #left-center{
        padding: 20px;
    }
    
    #left-center h1{
        line-height: 38px;
        font-size: 13vw;
        padding: 3px 5px;
        font-weight: 500;
    }
    
    #left-center h1:nth-child(2n){
        text-align: right;
    }
    
    #left-bottom{
        padding: 15px;
    }
    
    #left-bottom p{
        font-size: 3vw;
        width: 90%;
    }
    
    #arrow{
        top: 55%;
        left: 51%;
        transform: translate(-50%,-50%) rotate(90deg);
        padding: 15px;
    }
    
    #arrow i{
        font-size: 20px;
    }

    #right{
        grid-row: 4;
        grid-column: 1/3;
        padding: 20px;
        padding-right: 10px;
    }

    #right video{
        height: 40%;
        object-fit: cover;
        object-position: center;
    }
}