*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #EEEEF0;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EEEEF0;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    width: 100%;
    height: 13vh;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 4vh;
}

#nav h1{
    height: 100%;
    width: 17.5%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    letter-spacing: -1px;
    font-size: 2vw;
    position: relative;
}

#nav h1::after{
    content: "©️";
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.3vw;
    position: absolute;
    top: 26%;
    right: 8%;
}

#nav h1::before{
    content: "model management";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 0.8vw;
    position: absolute;
    bottom: 25%;
    right: 19%;
}

#nav h2{
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 20px;
}

#nav h2:nth-last-child(1){
    width: 9%;
    border-right: 0px;
}
#nav h2:nth-last-child(2){
    width: 26%;
}

#nav h3{
    display: none;
}

#center{
    height: 83%;
    width: 100%;
    /* background-color: red; */
    padding: 2.5vw;
}
#content{
    height: 100%;
    /* background-color: blue; */
    object-fit: cover;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 50%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    padding: 3vh 5vh;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 2vw;
}

#over1 h1{
    font-family: monument;
    font-size: 3vw;
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw;
    /* background-color: blue; */
    border-radius: 5vw;
    border: 1px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}
#over2 h5{
    font-size: 2.5vh;
    font-weight: 500;
}
#over2 img{
    height: 3.5vw;

}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    /* width: 100%; */
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin: 1.1vw;
    object-fit: cover;
    object-position: top;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabate{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabate h5{
    font-size: 1.6vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    border-bottom: 2px solid #0000009d;
    margin-right: 1.2vw;
    letter-spacing: 4px;
}

#alphabate h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    padding: 0.5vw 1vw;
    margin: 0.3vw;
    /* background-color: yellow; */
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
    border: 1px solid #00000000;
}

#alphabate h3{
    display: none;
}

#alphabate h4:hover{
    border: 1px solid #000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 56%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0% 70%;
}

#page2-part2{
    height: 100%;
    width: 41%;
    /* background-color: red; */
}
 
#page2-part2 img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
}
#text{
    width: 100%;
    height: 24.4%;
    /* background-color: blue; */
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#text h3{
    font-size: 1.4vw;
    line-height: 1.8vw;
    font-weight: 600;
    font-family: sans-serif;
}

#text p{
    font-size: 1.1vw;
    margin-right: 1vh;
    font-family: sans-serif;
    font-weight: 500;
}

#page2-bottom{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
}

#page2-bottom h1{
    font-family: monument;
    font-size: 2.75vw;
    padding: 0 5vw;
    font-weight: 600;
}

#page3{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3vh 3vw;
    
}

#page3-part1{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
}

#circular{
    /* width: 100%; */
    /* height: 80%; */
    width: 37.2vw;
    height: 31vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#circular>img {
    height: 55%;
    width: 65%;
    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#arrow {
    height: 10%;
    width: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#arrow img{
    height: 90%;
    width: 90%;
    /* background-color: blue; */
}

@keyframes rotation {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
#page3-text{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
    padding-left: 5vw;
    /* padding-top: 6vh; */
}

#page3-text h3{
    font-size: 1.3vw;
    line-height: 3.3vh;
    font-weight: 600;
}

#page3-part2{
    height: 100%;
    width: 56%;
    background-image: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}

#page4{
    width: 100%;
    height: 70%;
    /* background-color: red; */
    padding: 3vw 6.7vw;
}

#page4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1{
    font-family: monument;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.7vw;
    margin-bottom: 7vh;
}

.elem{
    height: 16vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    position: absolute;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    left: 15%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.6s;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}

.elem>h4{
    width: 6%;
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: 500;
}

.elem .elem-part2{
    width: 45%;
    /* background-color: red; */
}

.elem-part2 h1{
    font-size: 2.5vw;
    text-transform: capitalize;
    font-weight: 400;
}

.elem-part2 h5{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 600;
}

.elem:nth-last-child(1) img{
    left: 35%;
}

.elem:nth-last-child(3) img{
    left: 35%;
}

.elem:hover img{
    opacity: 1;
    left: 25%;
}

.elem:hover{
    background-color: #e1e1e1;
}

.elem:nth-last-child(1) .elem-part2 h1{
    text-transform: none;
}

#page6{
    width: 100%;
    height: 75%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7vw 2.2vw;
}

#page6-part1{
    height: 100%;
    width: 40%;
    background-image: url(https://plus.unsplash.com/premium_photo-1669704098815-dd3305204e6e?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page6-part2{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    padding: 1vh 2vw;
    padding-bottom: 0;   
}

#page6-text{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}

#page6-text h1{
    font-size: 2vw;
    font-family: monument;
    text-transform: uppercase;
}

#page6-text h3{
    font-size: 1.3vw;
    margin-top: 5vh;
    line-height: 2.9vh;
    font-weight: 500;
}

#page6-text p{
    font-size: 0.9vw;
    margin-top: 6.2vh;
}

#page6-img{
    height: 50%;
    width: 100%;
    /* background-color: rgb(187, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
}

#page6-img1{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1505481454812-642d2c1a7da9?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page6-img2{
    height: 100%;
    width: 42%;
    background-image: url(https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 30%;
}

#page7{
    width: 100%;
    height: 80%;
    /* background-color: red; */
    padding: 5vh 7vw;
}

#page7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

#page8{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 7vw;
}

#page8-part1{
    height: 100%;
    width: 52%;
    background-image: url(https://images.unsplash.com/photo-1705922724042-23bf9d7eb01b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 60%;
}

#page8-part2{
    height: 100%;
    width: 45%;
    /* background-color: yellowgreen; */
}

#page8-part2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: 20% 70%;
}

#page8-text{
    height: 25%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page8-text h2{
    font-size: 1.4vw;
    line-height: 3.4vh;
}

#page8-text p{
    font-size: 1.1vw;
    line-height: 2.6vh;
}

#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    margin-top: 9vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
}

#marque h1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    font-family: monument;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    /* background-color: blue; */
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#blog{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 3vh 7vw;
    display: flex;
    justify-content: space-between;
}

#blog-part1{
    height: 100%;
    width: 55%;
    /* background-color: rgb(0, 166, 255); */
    display: flex;
    justify-content: space-between;
}

#blog-part1>h1{
    font-size: 2vw;
    font-family: monument;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#blog-part1-2{
    height: 100%;
    width: 74%;
    /* background-color: #ab59cc; */
    position: relative;
}

#blog-part1-2 h2{
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 4vh;
}

#blog-part1-2 img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
    position: absolute;
    bottom: 0;
    
}

#blog-part2{
    height: 100%;
    width: 41%;
    /* background-color: yellowgreen; */
    position: relative;
    
}

#blog-part2 h2{
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 4vh;
}

#blog-part2 img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: 0 45%;
    position: absolute;
    bottom: 0;
}

#footer{
    height: 45%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#footer-nav{
    width: 100%;
    height: 80%;
    /* background-color: rgb(85, 172, 209); */
    display: flex;
    justify-content: center;
    /* gap: 8vw; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-left: 5vw;
}

#footer-nav h1{
    /* background-color: yellow; */
    padding: 2vw;
    /* margin-right: 2.5vw; */
    font-family: monument;
    letter-spacing: -1px;
    font-size: 2vw;
    position: relative;
    margin-right: 1vw;
}

#footer-nav h1::after{
    content: "©️";
    font-family: 'Courier New', Courier, monospace;   
    font-weight: 500;
    font-size: 1.3vw;
    position: absolute;
    top: 10%;
    right: 7%;
}

#footer-nav h1::before{
    content: "mode management";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666;
    font-size: 0.8vw;
    font-weight: 500;
    position: absolute;
    top: 21.5%;
    right: 14%;
}

#footer-nav>h3{
    height: 100%;
    width: 20%;
    border-right: 2px solid #000;
    /* background-color: yellow; */
    padding: 2vw;
    padding-left: 5vw;
    font-size: 1.3vw;
    font-weight: 500;
    margin-left: 1.5vw;
    
}

#footer-right{
    height: 100%;
    width: 43%;
    /* background-color: #c06969; */
}

#top{
    height: 33%;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

#top h3{

    font-size: 1.3vw;
    font-weight: 500;
}

#bottom{
    height: 70%;
    width: 100%;
}

#bottom img{
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 2vw;
    margin-top: 4vh;
}

#bottom img:nth-child(1){
    margin-left: 3.8vw;
}

#bottom h5{
    margin-left: 3.8vw;
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: 500;
}

@media (max-width:600px) {
    #nav{
        width: 100%;
        height: 8vh;
        margin-top: 2vh;
        padding-left: 2.7vw;
    }
    
    #nav h1{
        width: 40%;
        justify-content: flex-start;
        font-size: 4.8vw;

    }
    
    #nav h3{
        display: block;
    }

    #nav h1::after{
        display: none;
    }
    
    #nav h1::before{
        display: none;
    }
    
    #nav h2{
        display: none;
    }

    #center{
        height: 50%;
    }
    
    #overlay{
        height: fit-content;
        padding: 2vw 2vh;
    } 

    #over1 h1{
        font-size: 6vw;
    }
    
    #over1 h2{
        font-size: 2.5vw;
        padding: 4vw;
        border-radius: 50%;
    }
    
    #over2{
        padding: 1vw 0;
    }
    #over2 h5{
        font-size: 2vh;
        font-weight: 500;
    }
    #over2 img{
        height: 7vw;

    }

    #scroll{
        height: 19vh;
        width: 100%;
        /* background-color: red; */
    }
    
    #container{
        height: 76%;
        width: 145%;
        /* background-color: blue; */
        padding-top: 3vw;
        margin-top: 3vw;
    }

    #scroll img{
        height: 23vw;
        width: 21.2vw;
    }

    @keyframes anime {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(calc(-100% - 4px));
        }
    }

    #alphabate{
        height: 7vh;
        gap: 1vw;
        /* background-color: green; */
        margin-bottom: 3vh;
    }
    
    #alphabate h5{
        font-size: 6vw;
        font-weight: 500;
        letter-spacing: 3px;
    }
    
    #alphabate h4{
        display: none;
    }

    #alphabate h3{
        display: block;
        font-size: 8vw;
        font-weight: 500;
    }

    #page2{
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;
        /* background-color: red; */
    }
    
    #page2-part1{
        display: none;
    }
    
    #page2-part2{
        height: 100%;
        width: 100%;
        /* background-color: skyblue; */
    }

    #text{
        width: 100%;
        height: 24.4%;
    }
    #text h3{
        font-size: 5vw;
        line-height: 2.8vh;
        font-weight: 500;
    }
    
    #text p{
        font-size: 3vw;
        line-height: 1.8vh;
        font-weight: 400;
    }
    
    #page2-bottom{
        width: 100%;
        height: 8vh;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
    }
    
    #page2-bottom h1{
        font-family: monument;
        font-size: 8vw;
        padding: 0 5vw;
        font-weight: 1000;
    }
    
    #page3{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        /* background-color: red; */
    }
    
    #page3-part1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70%;
        width: 70%;
        /* background-color: yellow; */
    }
    
    #circular{
        height: 50vw;
        width: 70vw;
        /* background-color: aqua; */
        margin-top: 2.3vh;
    }
    
    #circular>img {
        height: 100%;
        width: 100%;
    }

    #arrow {
        height: 20%;
        width: 20%;
    }

    #page3-text{
        width: 100%;
        height: 30%;
        padding-left: 5vw;
        padding-top: 2vh;
        /* background-color: red; */
        margin-top: 1.4vh;
    }
    
    #page3-text h3{
        font-size: 3.4vw;
        line-height: 2.3vh;
    }
    
    #page4{
        height: 55%;
        /* background-color: red; */
    }

    #page5{
        height: 60%;
        width: 100%;
        position: relative;
        padding: 7vw 2vw;
        /* background-color: red; */
    }
    
    #page5>h1{
        font-size: 9vw;
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-weight: 800;
    }
    
    .elem{
        height: 9vh;
        /* background-color: red; */
    }
    
    .elem img{
        height: 7vh;
        width: 7vh;
        left: 27%;
        opacity: 1;
    }
    
    .elem:nth-last-child(1){
        border-bottom: 2px solid #000;
    }
    
    .elem>h4{
        font-size: 3vw;
        font-weight: 400;
    }
    
    .elem-part2 h1{
        font-size: 4vw;
    }
    
    .elem-part2 h5{
        font-size: 1.8vw;
        color: #696969;
    }
    
    .elem:nth-last-child(1) img{
        left: 27%;
    }
    
    .elem:nth-last-child(3) img{
        left: 27%;
    }
    
    .elem:hover img{
        left: 27%;
    }
    
    #page6{
        width: 100%;
        height: 75%;
        /* background-color: red; */
        padding: 1.7vw 2.2vw;
    }
    
    #page6-part1{
        display: none;
    }
    
    #page6-part2{
        height: 100%;
        width: 100%;
        /* background-color: rgb(226, 81, 81); */
        padding: 3.5vh 2vw;
        padding-bottom: 0;   
    }
    
    #page6-text{
        width: 100%;
        height: 52%;
        /* background-color: yellow; */
    }
    
    #page6-text h1{
        font-size: 8vw;
        margin-left: 22vw;
        font-weight: 800;
    }
    
    #page6-text h3{
        font-size: 5.5vw;
        margin-top: 3vh;
        line-height: 3.3vh;
        font-weight: 400;
    }
    
    #page6-text p{
        font-size: 2.9vw;
        margin-top: 3vh;
    }

    #page7{
        height: 40%;
        padding: 2vh 4vw;
    }
    
    #page7 img{
        object-position: 50% 20%;
    }

    #page8{
        width: 100%;
        height: 80%;
        /* background-color: red; */
        flex-direction: column;
        padding: 2vh 7vw;
    }
    
    #page8-part1{
        height: 100vh;
        width: 100%;
    }
    
    #page8-part2{
        height: 100%;
        width: 100%;
        /* background-color: yellowgreen; */
    }
    
    #page8-part2 img{
        display: none;
    }
    
    #page8-text{
        height: 100%;
        width: 100%;
        /* background-color: yellow; */
    }
    
    #page8-text h2{
        font-size: 4.5vw;
        line-height: 3.3vh;
    }
    
    #page8-text p{
        font-size: 3vw;
        line-height: 2.6vh;
    }

    #marque{
        height: 6vh;
        margin-top: 0.5vh;
    }
    
    #marque h1{
        font-size: 9vw;
        font-family: 'Courier New', Courier, monospace;
        -webkit-text-stroke: 1px #000;
    }
    
    #blog{
        height: 70%;
        width: 100%;
        /* background-color: red; */
        margin-top: 5vh;
        padding: 2vh 4vw;
        display: flex;
        justify-content: space-between;
    }
    
    #blog-part1{
        height: 100%;
        width: 55%;
        /* background-color: rgb(0, 166, 255); */
        display: flex;
        flex-direction: column;
        
    }
    
    #blog-part1>h1{
        font-size: 10vw;
        font-family: monument;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 1vh;
    }
    
    #blog-part1-2{
        height: 100%;
        width: 100%;
        /* background-color: #ab59cc; */
        position: relative;
    }
    
    #blog-part1-2 h2{
        font-size: 2.6vw;
        font-weight: 400;
        line-height: 2.3vh;
        margin-top: 4vh;
    }
    
    #blog-part1-2 img{
        height: 60%;
        width: 100%;
        object-fit: cover;
        object-position: 0 30%;
        position: absolute;
        bottom: 0;
        
    }
    
    #blog-part2{
        height: 100%;
        width: 41%;
        /* background-color: yellowgreen; */
        position: relative;
        
    }
    
    #blog-part2 h2{
        font-size: 2.6vw;
        font-weight: 400;
        line-height: 2.3vh;
    }
    
    #blog-part2 img{
        height: 60%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 45%;
        position: absolute;
        bottom: 0;
    }
}