*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EEEEF0;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    width: 100%;
    height: 13vh;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 4vh;
}

#nav h1{
    height: 100%;
    width: 17.5%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    letter-spacing: -1px;
    font-size: 35px;
}
#nav h2{
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 20px;
}

#nav h2:nth-last-child(1){
    width: 9%;
    border-right: 0px;
}
#nav h2:nth-last-child(2){
    width: 26%;
}

#center{
    height: 83%;
    width: 100%;
    /* background-color: red; */
    padding: 2.5vw;
}
#content{
    height: 100%;
    /* background-color: blue; */
    object-fit: cover;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 50%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    padding: 3vh 5vh;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 2vw;
}

#over1 h1{
    font-family: monument;
    font-size: 3vw;
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw;
    /* background-color: blue; */
    border-radius: 5vw;
    border: 1px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}
#over2 h5{
    font-size: 2.5vh;
    font-weight: 500;
}
#over2 img{
    height: 3.5vw;

}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    /* width: 100%; */
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin: 1.1vw;
    object-fit: cover;
    object-position: top;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabate{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabate h5{
    font-size: 1.6vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    border-bottom: 2px solid #0000009d;
    margin-right: 1.2vw;
}

#alphabate h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    padding: 0.5vw 1vw;
    margin: 0.3vw;
    /* background-color: yellow; */
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
    border: 1px solid #00000000;
}

#alphabate h4:hover{
    border: 1px solid #000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 56%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0% 70%;
}

#page2-part2{
    height: 100%;
    width: 41%;
    /* background-color: red; */
}

#page2-part2 img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
}
#text{
    width: 100%;
    height: 24.4%;
    /* background-color: blue; */
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;

}
#text h3{
    font-size: 1.6vw;
    line-height: 1.8vw;
    font-weight: 600;
    font-family: sans-serif;
}

#text p{
    font-size: 1.1vw;
    margin-right: 1vh;
    font-family: sans-serif;
    font-weight: 500;
}

#page2-bottom{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
}

#page2-bottom h1{
    font-family: monument;
    font-size: 2.75vw;
    padding: 0 5vw;
    font-weight: 600;
}

#page3{
    height: 100%;
    width: 100%;
}