*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    color:#fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height:100vh;
    width: 100%;
    /* background-color: rgb(143, 212, 227); */
}

#page2{
    height:100vh;
    width: 100%;
    /* background-color: rgb(89, 192, 215); */
}

#page2 #image-div{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.4;
}

#page3{
    height:100vh;
    width: 100%;
    /* background-color: rgb(12, 150, 181); */
}

