*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: relative;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: relative;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes anime {
    from{
        left: 0;
    }
    to{
        left: 80%;
    }
}